@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* Colors */
  --color-white: #f3f3f3;
  --color-yellow: #f7d684;
  --color-pink: #f3afa8;
  --color-red: #ff6250;
  --color-black: #2d2d2d;
  --color-green: #009379;
  --color-gray: #f3f3f3;

  /* Font Weights */
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;

  /* Font Sizes */
  --font-size-subtitle: 20px;
  --font-size-button: 20px;
  --font-size-normal: 17px;
  --font-size-h1-mobile: 65px;
  --font-size-h1: 68px;
  --font-size-h2: 32px;
  --font-size-h3: 20px;
  --font-size-card-heading: 27px;

  /* Line Heights */
  --line-height-subtitle: 30px;
  --line-height-body: 27px;
  --line-height-h2: 40px;
  --line-height-h3: 42px;
  --line-height-button: 30px;

  /* Container */
  --container-max-width: 1200px;
  --container-padding: 0 1rem;
}

html {
  font-size: var(--line-height-body);
  scroll-behavior: smooth;
}

body {
  font-family: "Epilogue", sans-serif;
}

h1,
h2,
h4,
h5,
h6,
p {
  font-family: "Epilogue", sans-serif;
  line-height: 1.2;
  margin-bottom: 1rem;
  color: var(--color-black);
}

h1 {
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-semi-bold);
  margin: 0;
}

h2 {
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-semi-bold);
  line-height: var(--line-height-h2);
}

h3 {
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-semi-bold);
  line-height: var(--line-height-h3);
}

p {
  font-size: var(--font-size-normal);
  line-height: var(--line-height-body);
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  padding: 24px 64px;
  background-color: var(--color-black);
  color: var(--color-white);
}

.container {
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding: var(--container-padding);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  height: 78px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.hamburger-menu {
  cursor: pointer;
  display: none;
  position: relative;
}

.hamburger-menu > div {
  width: 20px;
  height: 2px;
  background-color: var(--color-black);
  cursor: pointer;
  margin-bottom: 5px;
}

.logo a {
  font-size: var(--font-size-logo);
  line-height: var(--line-height-subtitle);
  font-weight: var(--font-weight-semi-bold);
}

.nav-links {
  display: flex;
  align-items: center;
  position: relative;
}

.nav-links a {
  margin-right: 1.5rem;
  font-size: var(--font-size-normal);
  line-height: var(--line-height-subtitle);
  font-weight: var(--font-size-normal);
}

.nav-links a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: var(--color-black);
  transition: width 0.3s;
}

.nav-links a:hover::after {
  width: 100%;
}

.nav-links .close-button {
  position: absolute;
  top: 40px;
  right: 10px;
  border: none;
  border-radius: 10px;
  background-color: transparent;
  font-size: 30px;
  cursor: pointer;
  display: none;
  color: var(--color-black);
}

/* Navbar end here */

/* main */

/* Hero */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 58px 0;
}

.hero_left_content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.hero_left_content h3 {
  font-size: var(--font-size-h3);
  line-height: var(--line-height-subtitle);
  font-weight: var(--font-weight-bold);
}
.hero_left_content p {
  max-width: 500px;
  padding-right: 30px;
  line-height: var(--line-height-body);
}

.hero_left_content .cta {
  align-self: flex-start;
  font-size: var(--font-size-button);
  line-height: var(--line-height-button);
  font-weight: var(--font-weight-semi-bold);
  cursor: pointer;
  transition: opacity 0.4s ease-in-out;
}

.hero_left_content button:hover {
  opacity: 0.8;
}

/*  brands section */

.brands {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 68px 0px;
}

/* skills section */

.skills_section {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  padding: 42px 0px;
}

.skill_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 64px 42px;
  text-align: center;
}

.skill_card img {
  width: 124px;
  height: 124px;
}

.skill_card h3 {
  font-size: var(--font-size-card-heading);
  font-weight: var(--font-weight-semi-bold);
  margin-top: 42px;
  margin-bottom: 12px;
}

.skill_card p {
  margin: 0;
  max-width: 500px;
}

/* Gallery */

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  align-items: center;
  gap: 24px;
}
.gallery-section h2 {
  text-align: center;
  margin-bottom: 42px;
}
.gallery-card-info {
  padding: 10px 0;
}
.gallery-card-info h3,
p {
  margin: 0;
}

/* Testimonial */
.testimonial {
  padding: 68px 0;
}
.testimonial-card {
  background-color: var(--color-gray);
  padding: 42px;
}

.testimonial-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  align-items: center;
  gap: 24px;
}

.testimonial h2 {
  text-align: center;
  margin-bottom: 42px;
}

.testimonial-card p {
  margin: 0;
  font-weight: var(--font-weight-semi-bold);
  font-size: var(--font-size-h3);
  line-height: var(--line-height-subtitle);
  margin-bottom: 68px;
}
.testimonial-footer {
  display: flex;
  gap: 10px;
  align-items: center;
}

.testimonial .client-img img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 20px;
}
.review {
  display: flex;
  flex-direction: column;
}
.review .reviewImg .review .reviewImg {
  margin-bottom: 11px;
}
.review .client-name {
  font-size: var(--font-size-subtitle);
  line-height: var(--line-height-subtitle);
}

.review .client-company {
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-body);
}
